div.pf_nt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

img {
    border-radius: 120px;
}

div.pf_b {
    margin-left: 24px;

    h1 {
        font-size: 24px;
    }
}

div.profile_table {
    display: flex;
    justify-content: center;

    div.profile_table_detail {
        h2 {
            font-size: 20px;
        }

        table {
            border: solid rgb(144, 140, 140);
            padding: 24px;
            text-align: center;
            
            div.pf_nt {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15vh;
                margin-bottom: 5vh;
            }
            
            img {
                border-radius: 120px;
            }
            
            div.pf_b {
                margin-left: 24px;
            
                h1 {
                    font-size: 24px;
                }
            }
            
            div.profile_table {
                display: flex;
                justify-content: center;
               
            }
                div.profile_table_detail {
                    h2 {
                        font-size: 20px;
                    }
            
                    table {
                        border: solid rgb(173, 164, 164);
                        padding: 24px;
                        text-align: center;
                    }
                    td {
                        border: solid rgb(131, 124, 124);
                        width: 200px;
                    }
                }
            }
        }

        td {
            border: solid rgb(114, 114, 114);
            width: 200px;
        }
     #profile_table_header{
    border: none;}
    }
